<html>
  <head>
  </head>
  
  <body>
    <div classname='title_container'>  
      <h1>Welcome to Chitter!</h1>
      <h2>The app that Twitter wishes it was.</h2>
    </div>

    <div classname='button_container'>
      <button>Log in</button>
      <a href = '/new_account'><button>Sign up</button></a>
      <a href = '/new_post'><button>Make a new post</button></a>
      <a href = '/list_posts'><button>List all posts</button></a>
    </div>

  </body>

</html>