<html>
    <head></head>
    <body>
        <p><a href="/">Back to homepage</a></p>
        <h1>Log In</h1>
        <form action="/login" method="POST">
            <input placeholder="Email" type="text" name="email">
            <input placeholder="Password" type="text" name="password">
            <input type="submit">
        </form>
    </body>
</html>