<html>
  <head>
  </head>
  
  <body>
    <h1>Create a post</h1>
    <div classname='new_post_container'>  
      <form action="/posts" method="POST">
        <input placeholder="Enter post" type="text" name="message">
        <input type="submit" value="create post">
      </form> 
    </div>
  </body>

</html>