<html>
  <head>
  </head>
  
  <body>
    <h1>Create an account</h1>
    <div classname='signup_container'>  
      <form action="/accounts" method="POST">
        <input placeholder="Enter name" type="text" name="name">
        <input placeholder="Enter username" type="text" name="user_name">
        <input placeholder="Enter email" type="text" name="email">
        <input placeholder="Enter password" type="text" name="password">
      
        <input type="submit" value="create account">
      </form> 
    </div>
  </body>

</html>